In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [29]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/'\
                'breast-cancer-wisconsin/breast-cancer-wisconsin.data',
                header=None)
df.head(5)

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [30]:
df.replace('?', np.nan, inplace=True)
scaled_df = df.iloc[:, 1:-1].copy()
scaled_df = scaled_df.drop(columns=6)
scaled_df = (scaled_df - scaled_df.mean())/scaled_df.std()

X = scaled_df
X = np.nan_to_num(X)
y = df.iloc[:, -1]
y = y.values
y[y==2] = 0
y[y==4] = 1

In [31]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logistic_regression_gradient_descent(X, y, alpha=0.01, epochs=1000):
    m, n = X.shape
    theta = np.zeros(n)

    for _ in range(epochs):
        z = X @ theta
        y_pred = sigmoid(z)
        gradient = (1/m) * (X.T @ (y_pred - y))
        theta -= alpha * gradient

    return theta

def predict(X, theta, threshold=0.5):
    return (sigmoid(X @ theta) >= threshold).astype(int)

def add_bias(X):
    return np.c_[np.ones(X.shape[0]), X]

In [ ]:
from sklearn.model_selection import train_test_split

# ja separa eles normalizados
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, \
                                                    random_state=32)

X_train = add_bias(X_train)
X_test = add_bias(X_test)

In [33]:
theta = logistic_regression_gradient_descent(X_train, y_train, alpha=0.1, epochs=5000)

print("Learned parameters:", theta)

Learned parameters: [-1.07284475  2.17122432 -0.07894471  1.15222567  1.31698738  0.53591006
  1.69465368  0.62033927  1.04573079]

In [34]:
# ve no conjunto de teste
predictions = predict(X_test, theta)

correct = 0
for i in range(len(y_test)):
    if predictions[i] == y_test[i]: correct += 1
        
print(f"Acc = {round(correct / len(y_test), 4) * 100} %")

Acc = 93.81 %